<?xml version="1.0"?>
<config>
    <modules>
        <Lee_Demo>
            <version>1.0.0</version>
        </Lee_Demo>
    </modules>
    <global>
        <helpers>
            <Lee_Demo>
                <class>Lee_Demo_Helper</class>
            </Lee_Demo>
        </helpers>
        <blocks>
            <Lee_Demo>
                <class>Lee_Demo_Block</class>
            </Lee_Demo>
        </blocks>
        <models>
            <Lee_Demo>
                <class>Lee_Demo_Model</class>
                <resourceModel>Lee_Demo_Resource</resourceModel>
            </Lee_Demo>
            <Lee_Demo_Resource>
                <class>Lee_Demo_Resource</class>
                <entities>
                    <Widget>
                        <table>lee_demo_widget</table>
                    </Widget>
                    <Doodad>
                        <table>lee_demo_doodad</table>
                    </Doodad>
                </entities>
            </Lee_Demo_Resource>
        </models>
        <resources>
            <Lee_Demo>
                <setup>
                    <module>Lee_Demo</module>
                </setup>
            </Lee_Demo>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <Lee_Demo>
                    <file>Lee_Demo.xml</file>
                </Lee_Demo>
            </updates>
        </layout>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Lee_Demo/>
            </modules>
        </suite>
    </phpunit>
</config>
